
<header> <h1> Appl Tiny </h1></header>
<h4> shortens your long ass link in one click </h4>

<!-- user clicked on login button on main page or other ones - this action should display our login page through a GET on the server-->
<!--   <form method="GET" action="/urls/login">

       <button type="login" class="btn btn-primary"> Login </button>
    </form> -->



<!-- <h5> Welcome <%= //username %> !</h5> -->

<% if(user){ %>
   <p><%= user.email %></p>
     <form method="POST" action="/logout">
       <button type="logout" class="btn btn-primary" style= "margin:1em;" >Logout</button>
     </form>
 <% } else{ %>
   <a href="/login" class="btn btn-primary">Login</a>
   <a href="/registration" class="btn btn-primary">Register</a>
<% } %>

