


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">

    <% include ./partials/_header %>


<!-- -->


     <form method="POST" action="/login">
       <div class="form-group mb-2">
        <label for="email">Enter an email:</label>
        <input class="form-control" type="email" name="email" placeholder=" type in your email" style="width: 300px; margin: 1em">
        <label for="password">password:</label>
        <input class="form-control" type="password" name="password" placeholder=" type in your password" style="width: 300px; margin: 1em">


        <!-- The input tag has an important attribute as well: name. This attribute identifies the data we are sending in the body of our POST request. -->






       <button type="submit" class="btn btn-primary"> Submit </button>
    </form>

      </body>
</html>