

<!-- needs a blank html trmplate -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">

<% include ./partials/_header %>

  <%= shortURL %>
  <%= longURL %>

      <form class="form-inline" action="/urls/<%=shortURL%>/edit" method="POST">
      <div class="form-group mb-2">
        <label for="longURL">Edit that URL:</label>

        <!-- The input tag has an important attribute as well: name. This attribute identifies the data we are sending; in this case, it adds the key longURL to the data we'll be sending in the body of our POST request. -->


        <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
        <button type="edit" class="btn btn-primary">Edit</button>
      </div>
    </form>

</body>
</html>